# ignore all model files, job files and test files
models/*
jobs/*
*result*
.build_release/*
build
coco_mine/*
# ignore all pyc
*.pyc

# ignore all lib files which can be built by makefile
*.so

# nohub file
*.out
*.log

# VScode
.vscode/*

# Video files
*.mp4
*.avi
*.jpg
#output file
detout/*
hardresult/*
