# ignore all model files, job files and test files
models/*
jobs/*
test/*
*result*
.build_release/*
build
# ignore all pyc
*.pyc

# ignore all lib files which can be built by makefile
*.so

# nohub file
*.out
*.log

# VScode
.vscode/*

# Video files
*.mp4
*.avi

#output file
detout/*
hardresult/*
