# ignore all model files, job files and test files
models/*
jobs/*
build
test/*
.build_release/*
result*

# ignore all pyc
*.pyc

# ignore all lib files which can be built by makefile
*.so

# nohub file
*.out
*.log
# VScode
.vscode/*

# video file

*.avi
*.mp4
*.zip
